body {
  background-color: #232323;
  margin: 0px;
  font-family: "Montserrat", "Avenir";
}

#colorDisplay {
  font-size: 200%;
}

.square {
  width: 30%;
  background-color: blue;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 15px;
  transition: background 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

#container {
  max-width: 600px;
  margin: 20px auto;
}

h1 {
  font-weight: normal;
  color: white;
  margin: 0px auto;
  text-align: center;
  padding: 20px 0px;
  text-transform: uppercase;
  transition: 0.3s;
  background-color: steelblue;
}

button {
  font-size: 13px;
  outline: none;
  letter-spacing: 1px;
  border: none;
  background: none;
  height: 100%;
  text-transform: uppercase;
  color: steelblue;
  font-family: "Montserrat", "Avenir";
  transition: all 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  font-weight: 800;
}

button:hover {
  color: white;
  background-color: steelblue;
}

#stripe {
  background-color: white;
  height: 30px;
  text-align: center;
  color: black;
}

.selected {
  background-color: steelblue;
  color: white;
}

#message {
  display: inline-block;
  width: 20%;
  text-transform: uppercase;
  color: steelblue;
  transition: 0.4s;
}
